.home-section{
  width: 1080px;
  background-color: rgb(221, 208, 208);
  min-height: 500px;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 30%);
  border-radius: 8px;
}